.dependency-track.multi-line-input-row {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: .5em;
}
fieldset.dependency-track {
    border: 2px dashed var(--medium-grey);
    margin: .5em 0;
}
fieldset.dependency-track legend img {
    width: var(--btn-large-line-height);
}