[name="org-jenkinsci-plugins-DependencyTrack-DependencyTrackPublisher"] + .form-container.tr[nameref] .help-sibling .team q,
[name="org-jenkinsci-plugins-DependencyTrack-DependencyTrackPublisher"] + .jenkins-section[nameref] .help-sibling .team q
{
    color: var(--primary);
}

[name="org-jenkinsci-plugins-DependencyTrack-DependencyTrackPublisher"] + .form-container.tr[nameref] .help-sibling .permission.okay,
[name="org-jenkinsci-plugins-DependencyTrack-DependencyTrackPublisher"] + .jenkins-section[nameref] .help-sibling .permission.okay {
    color: var(--success);
}
[name="org-jenkinsci-plugins-DependencyTrack-DependencyTrackPublisher"] + .form-container.tr[nameref] .help-sibling .permission.okay::after,
[name="org-jenkinsci-plugins-DependencyTrack-DependencyTrackPublisher"] + .jenkins-section[nameref] .help-sibling .permission.okay::after {
    content: "\2705";
    font-size: var(--font-size-base);
}
[name="org-jenkinsci-plugins-DependencyTrack-DependencyTrackPublisher"] + .form-container.tr[nameref] .help-sibling .permission.missing::after,
[name="org-jenkinsci-plugins-DependencyTrack-DependencyTrackPublisher"] + .jenkins-section[nameref] .help-sibling .permission.missing::after {
    content: "\274C";
    font-size: var(--font-size-base);
}
[name="org-jenkinsci-plugins-DependencyTrack-DependencyTrackPublisher"] + .form-container.tr[nameref] .help-sibling .permission.missing,
[name="org-jenkinsci-plugins-DependencyTrack-DependencyTrackPublisher"] + .jenkins-section[nameref] .help-sibling .permission.missing {
    color: var(--danger);
    font-weight: bold;
}
[name="org-jenkinsci-plugins-DependencyTrack-DependencyTrackPublisher"] + .form-container.tr[nameref] .help-sibling .permission.missing::after,
[name="org-jenkinsci-plugins-DependencyTrack-DependencyTrackPublisher"] + .jenkins-section[nameref] .help-sibling .permission.missing::after {
    content: "\26D4";
    font-size: var(--font-size-base);
}
[name="org-jenkinsci-plugins-DependencyTrack-DependencyTrackPublisher"] + .form-container.tr[nameref] .help-sibling .permission.warn,
[name="org-jenkinsci-plugins-DependencyTrack-DependencyTrackPublisher"] + .jenkins-section[nameref] .help-sibling .permission.warn {
    color: var(--warning);
    font-weight: bold;
}
[name="org-jenkinsci-plugins-DependencyTrack-DependencyTrackPublisher"] + .form-container.tr[nameref] .help-sibling .permission.warn::after,
[name="org-jenkinsci-plugins-DependencyTrack-DependencyTrackPublisher"] + .jenkins-section[nameref] .help-sibling .permission.warn::after {
    content: "\26A0";
    font-size: var(--font-size-base);
}
