/*
Support for dark Theme of Jenkins in combination with bootstrap
*/
body, #app .table, #app .card {
    background-color: var(--background, #fff);
    color: var(--text-color, #212529);
    hyphens: auto;
}
#app .table-hover tbody tr:hover {
    background-color: var(--even-row-color, rgba(0,0,0,.075));
    color: var(--text-color, #212529);
}
#app input.form-control, #app input.form-control:focus {
    background-color: var(--input-color, #fff);
    color: var(--text-color, #495057);
}
#app .page-item:not(.active) .page-link {
    background-color: var(--brightest-bg-color);
}
/*
adjust bootstrap-colors for severities
*/
#app .progress-bar.bg-warning {
    background-color: #fd8c00 !important;
}
#app .progress-bar.bg-primary {
    background-color: #ffc107 !important;
}
#app .badge.badge-warning {
    background-color: #fd8c00;
    color: #fff;
}
#app .badge.badge-primary {
    background-color: #ffc107;
}